* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: inline-flex;
}

nav {
  width: 100%;
  background-color: gray;
}

ul.tabs {
  list-style: none;
  display: flex;
  background-color: gray;
  justify-content: center;
}

ul.tabs li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul.tabs li a:hover {
  background-color: darkgray;
  color: white;
}

.container {
  display: grid;
  grid-template-areas:
    "portrait about"
    "skills skills"
    "contact contact";
  grid-template-columns: 1fr 1fr;
}

.portrait {
  grid-area: portrait;
  background-color: whitesmoke;
  padding: 10%;
}

.portrait img {
  width: 50%;
  aspect-ratio: 1 / 1;
  display: block;
  margin: 0 auto;
  clip-path: circle();
}

.about-me {
  grid-area: about;
  background-color: silver;
}

.skills {
  grid-area: skills;
  background-color: whitesmoke;
}

.contact {
  grid-area: contact;
  background-color: whitesmoke;
}

.contact ul {
  list-style: none;
}

.logo {
  width: 32px;
  height: 32px;
}

.tag {
  display: inline-block;
  background-color: silver;
  padding: 10px;
  color: black;
  border: 5px red solid;
}

.projects {
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-content: space-evenly;
  border: 5px black solid;
}

.tile {
  height: 300px;
  width: 300px;
  border: 3px blue solid;
}